* {
    box-sizing: border-box;
}

body {
    background-color: #e7e5e5;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.site-header {
    background-image: url("../img/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1080px;
    height: 400px;
    overflow: hidden;
}

.site-header h1 {
    color: #fff;
    font-family: 'IM Fell Great Primer', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    padding: 8px 20px;
    float: left;
}

.site-wrapper {
    background-color: #fff;
    flex: 1;
}



/*******************************************
            MENU
*******************************************/

.site-nav {
    background-color: #1c1c1c;
    min-height: 50px;
    margin: 0;
    padding: 0;
}

.site-nav::after {
    content: "";
    display: table;
    clear: both;
}

.site-nav ul {
    list-style-type: none;
}

.site-ul {
    padding: 0;
    margin: 0;
    float: right;
    display: none;
}

.nav-open .site-ul {
    display: block;
}

.site-ul li {
    margin: 0;
}

.site-nav a {
    color: #f2f2f2;
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 15px;
}

.site-nav a:hover {
    background-color: #3ca459;
}

.arrow-down::after {
    content: "";
    display: inline-block;
    border: 4px solid transparent;
    border-top-color: currentColor;
    border-bottom-width: 0;
    margin-bottom: 0.1em;
    margin-left: 0.5em;
}

.has-dropdown {
    position: relative;
}

.dropdown {
    background-color: #1c1c1c;
    padding: 0;
    top: 100%;
}

.dropdown a:hover {
    background-color: #3ca459;
}

.hidden {
    display: none;
}

/*  responsive menu  */

.toggle-nav {
    height: 19px;
    width: 30px;
    top: 15px;
    left: 20px;
    display: block;
    position: absolute;
    z-index: 1;
}

.toggle-nav span {
    background-color: #fff;
    height: 5px;
    width: 100%;
    display: block;
    position: absolute;
}

.toggle-nav span:nth-child(1) {
    top: 0;
}

.toggle-nav span:nth-child(2) {
    top: 7px;
}
.toggle-nav span:nth-child(3) {
    top: 14px;
}


/*******************************************
    SHAPES, HOME PAGE - ABOUT PAGE
*******************************************/

.img-bubble-left,
.img-bubble-right {
    border-radius: 50%;
    width: 25%;
    margin: 20px 40px 20px 30px;
    shape-outside: circle();
}

.img-bubble-left {
    float: left;
}

.img-bubble-right {
    float: right;
}


/*******************************************
            HOME PAGE - ABOUT PAGE
*******************************************/

.index-section,
.section-about {
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
}


.index-wrapper,
.about-wrapper {
    margin-bottom: 90px;
}

.index-section h1,
.about-h1 {
    font-family: 'IM Fell Great Primer', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 2.5em;
    margin-left: 30px;
    margin-bottom: 45px;
}

.index-section p,
.about-section {
    margin: 20px;
}

.bubble-title {
    font-size: 20px;
    font-weight: 700;
}

.aktiviteter {
    margin-top: 80px;
}

.price-reference {
    text-decoration: none;
    color: #3ca459;
}

.price-reference:hover {
    color: #1c1c1c;
}

/*******************************************
            PRICE
*******************************************/

thead {
    display: none;
}

.price-h1 {
    font-family: 'IM Fell Great Primer', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 2.5em;
    text-align: center;
    margin: 25px;
}

.price-table {
    margin-top: 35px;
}

.price-table,
.table-info {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-bottom: 20px;
}

.table-info {
    margin-bottom: 60px;
}

th {
    font-weight: 700;
}


/*******************************************
            BOOKING
*******************************************/

.form-container {
    margin: 20px auto;
    padding: 0 20px;
    max-width: 565px;
}

.form-container form {
    display: flex;
    flex-wrap: wrap;
}

.form-container .field-block {
    flex: 1 0 50%;
}

.form-container .field-block-full {
    flex-basis: 100%;
}

.booking-btn,
.form-btn {
    background-color: #3ca459;
    font-size: 18px;
    color: #fff;
    padding: 25px 40px;
    margin-bottom: 20px;
    display: inline-block;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.booking-btn {
    font-size: 14px;
    width: 160px;
    margin-bottom: 30px;
}

.form-btn {
    width: 240px;
}

.field-block-btn {
    text-align: center;
}

/*  SStyle all inputs that dosen't have these types  */
input:not([type='radio']),
input:not([type='checkbox']),
input:not([type='submit']),
textarea {
    padding: 10px;
    border: solid 5px #c9c9c9;
    transition: border 0.3s;
}

input:not([type='radio']):focus,
input:not([type='checkbox']):focus,
input:not([type='submit']):focus,
textarea:focus {
    border: solid 5px #969696;
}

label {
    color: #000;
    font-weight: 400;
    font-size: 18px;
    display: block;
}

input, textarea, select {
    font-size: 15px;
}

input {
    width: 250px;
    height: 65px;
}

.field-block textarea {
    width: 100%;
}

.arrow-down::after {
    content: "";
    display: inline-block;
    border: 10px solid transparent;
    border-top-color: currentColor;
    border-bottom-width: 0;
    margin-left: 0.5em;
}

.select {
    position: relative;
    display: block;
    color: #555;
    width: 250px;
}

.select select {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 20px;
    background-color: #c9c9c9;
    border: 0;
    border-radius: .25rem;
    cursor: pointer;
    -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}


/*  Dropdown arrow  */

.select:after {
    position: absolute;
    top: 50%;
    right: 1.25rem;
    display: inline-block;
    content: "";
    width: 0;
    height: 0;
    margin-top: -.15rem;
    border-top: .35rem solid;
    border-right: .35rem solid transparent;
    border-bottom: .35rem solid transparent;
    border-left: .35rem solid transparent;
}

.other {
    vertical-align: top;
}

/*******************************************
            CONFIRMED THANK
*******************************************/

.confirmed-form {
    font-family: 'IM Fell Great Primer', serif;
    font-style: italic;
    font-size: 3.6em;
    font-weight: 400;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/*******************************************
ROOMS
*******************************************/

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 60px 40px 20px 40px;
}

.col {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.card {
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius: 2px;
    margin-bottom: 30px;
}

.card-small {
    position: relative;
}

.room-title {
    font-size: 1.2em;
    font-weight: 700;
}

.card-small .card-title {
    /*font-size: 2.7rem;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;*/
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-content {
    padding: 10px;
}

.img-room {
    max-width: 100%;
}


/*******************************************
            CONTACT
*******************************************/

.contact-info {
    text-align: center;
    margin-bottom: 60px;
}

.contact-info-section {
    margin-bottom: 30px;
}

.contact-info span {
    display: block;
}

.contact-info a {
    text-decoration: none;
    color: inherit;
}

.contact-info a:hover {
    color: #3ca459;
}

.location,
.mail,
.phone {
    height: 52px;
}

.compatible {
    margin: 30px;
}

.compatible img {
    margin: 5px;
}

.dektop {
    height: 65px;
}

.tablet {
    height: 55px;
}

.mobile {
    height: 45px;
}


/*******************************************
            GOOGLE MAPS
*******************************************/

#map {
    height: 360px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}


/*******************************************
            FOOTER
*******************************************/

.site-footer {
    font-size: 14px;
    background-color: #1c1c1c;
    color: #817e7e;
    overflow: hidden;
    text-align: center;
    padding-bottom: 20px;
}


/*******************************************
            RESPONSIVE DESIGN
*******************************************/

/*  When document size is smallen than  */
@media screen and (max-width: 500px) {
    label, input, textarea {
        display: block;
    }

    .form-btn {
        margin-left: 0;
    }
}

@media screen and (max-width: 679px) {
    .nav-open {
        cursor: pointer;
    }

    .site-header h1 {
        display: none;
    }

    .site-ul {
        background-color: #1c1c1c;
        width: 165px;
        padding: 20px;
        top: 50px;
        z-index: 1;
        position: absolute;
    }

    .site-ul >li + li {
        margin-top: 10px;
    }
}

@media screen and (max-width: 753px) {
    .col {
        width: 100%;
    }
}

/*  When document size is bigger than  */
@media screen and (min-width: 680px) {
    .site-ul {
        margin-right: 45px;
        display: block;
    }

    .site-ul > li {
        display: inline-block;
    }

    .toggle-nav {
        display: none;
    }

    .dropdown {
        width: 123px;
        margin-left: -62px;
        text-align: center;
        position: absolute;
        left: 50%;
        top: 100%;
        z-index: 10;
    }
}
