/************************************************
Login-page
************************************************/

.login {
	width:360px;
	margin:50px auto;
	font: Times, serif;
	border-radius:10px;
	border:2px solid #ccc;
	padding:10px 40px 25px;
	margin-top:70px; 
}

input[type=text], input[type=password] {
	width:99%;
	padding:10px;
	margin-top:8px;
	border:1px solid #ccc;
	padding-left:5px;
	font-size:16px;
	font-family: Times, serif; 
}

input[type=submit] {
	width: 100%;
	background-color:#3ca459;
	color:#fff;
	padding:10px;
	font-size:20px;
	cursor:pointer;
	margin-bottom: 15px;
	border-style: none;
}


/************************************************
HEADER
************************************************/

#profile {
	padding:50px;
	border:1px solid #000;
	font-size:20px;
}

#logout {
	float:right;
	padding:10px;
	border:1px solid #000;
}

a {
	text-decoration:none;
	color: #000;
}

i {
	color: #000;
}

/************************************************
NAV
************************************************/
nav {
	text-align: center;
	padding: 20px 0;
	width: 100%;
	background-color: #000;

}

ul {	
	list-style: none;
	padding: 0;	
	font-size: 2em;
	margin: 0;
}


li {
	display: inline-block;
	margin-left: 40px;

}

li>a {
	color: #fff;
}

li>a:hover {
	color: #3ca459;
}

.current {
	color: #3ca459;
}


/************************************************
Profile-page/Text-page
************************************************/
.text-edit {
	box-sizing: border-box;
	display: inline-table;
	margin: 15px 0 0;
	width: 49.7%;
	border: 2px solid black;
}

.text-heading {
	text-align: center;
	font-size: 1.5em;
}



/************************************************
Gallery-page
************************************************/

/************************************************
Booking-page
************************************************/
